{% extends 'TenDuong/base.html' %}
{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
  <h1>Kết Quả Tìm Kiếm</h1>
    {% if streets %}
        <table>
            {% for street in streets %}
                <h2>{{ street.street_name }}</h2>
                <!-- Thẻ div để hiển thị bản đồ -->
                <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>

                <!-- Thư viện Leaflet -->
                <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
                <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                <script>
                    // Khởi tạo Leaflet Map
                    var map = L.map('map').setView([{{ street.length }}, {{ street.width }}], 16);

                    // Thêm layer Tile cho bản đồ
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    // Thêm marker cho vị trí
                    L.marker([{{ street.length }}, {{ street.width }}]).addTo(map)
                            .bindPopup('Đây là đường {{ street.street_name }}')
                            .openPopup();
                </script>
                <tr>
                    <th>Tên Đường</th>
                    <th>Chú Thích</th>
                    <th>Nguồn Tư Liệu</th>
                    <th>Loại Đường</th>
                    <th>Nhóm Đường</th>
                    <th>Địa Chỉ</th>
                </tr>
                <tr>
                    <td><a href="{{ street.street_name }}" target="_blank">{{ street.street_name }}</a></td>
                    <td><a href="{{ street.note }}" target="_blank">Thông tin Wikipedia</a></td>
                    <td>{{ street.source_docID.source_name }}</td>
                    <td>{{ street.type_streetID.type_name }}</td>
                    <td>{{ street.group_streetID.group_name }}</td>
                    <td>{{ street.id_address.ward_name }}, {{ street.id_address.district_name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Không tìm thấy kết quả phù hợp.</p>
    {% endif %}
{% endblock %}